- page_title "账号"
- @content_class = "limit-container-width" unless fluid_layout

- if current_user.ldap_user?
  .alert.alert-info
    部分设置对于 LDAP 账号无效

.row.prepend-top-default
  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0
      两步验证
    %p
      开启两步验证 (2FA) 增加账户安全性。
  .col-lg-8
    %p
      状态: #{current_user.two_factor_enabled? ? '启用' : '禁用'}
    - if current_user.two_factor_enabled?
      = link_to '管理两步验证', profile_two_factor_auth_path, class: 'btn btn-info'
    - else
      .append-bottom-10
        = link_to '启用两步验证', profile_two_factor_auth_path, class: 'btn btn-success'

%hr
- if button_based_providers.any?
  .row.prepend-top-default
    .col-lg-4.profile-settings-sidebar
      %h4.prepend-top-0
        社会化登录
      %p
        使用以下服务之一激活登录
    .col-lg-8
      %label.label-bold
        连接到的账户
      %p 点击下列服务的图标激活第三方登录
      - button_based_providers.each do |provider|
        .provider-btn-group
          .provider-btn-image
            = provider_image_tag(provider)
          - if auth_active?(provider)
            - if unlink_allowed?(provider)
              = link_to unlink_profile_account_path(provider: provider), method: :delete, class: 'provider-btn' do
                断开
            - else
              %a.provider-btn
                激活
          - else
            = link_to omniauth_authorize_path(:user, provider), method: :post, class: 'provider-btn not-active' do
              连接
  %hr
- if current_user.can_change_username?
  .row.prepend-top-default
    .col-lg-4.profile-settings-sidebar
      %h4.prepend-top-0.warning-title
        修改用户名
      %p
        更改您的用户名可能会产生意想不到的副作用。
        = succeed '.' do
          = link_to '了解更多', help_page_path('user/profile/index', anchor: 'changing-your-username'), target: '_blank'
    .col-lg-8
      - data = { initial_username: current_user.username, root_url: root_url, action_url: update_username_profile_path(format: :json) }
      #update-username{ data: data }
  %hr

.row.prepend-top-default
  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0.danger-title
      = s_('Profiles|Delete account')
  .col-lg-8
    - if @user.can_be_removed? && can?(current_user, :destroy_user, @user)
      %p
        = s_('Profiles|Deleting an account has the following effects:')
      = render 'users/deletion_guidance', user: current_user

      %button#delete-account-button.btn.btn-danger.disabled{ data: { toggle: 'modal',
        target: '#delete-account-modal' } }
        = s_('Profiles|Delete account')

      #delete-account-modal{ data: { action_url: user_registration_path,
        confirm_with_password: ('true' if current_user.confirm_deletion_with_password?),
        username: current_user.username } }
    - else
      - if @user.solo_owned_groups.present?
        %p
          = s_('Profiles|Your account is currently an owner in these groups:')
          %strong= @user.solo_owned_groups.map(&:name).join(', ')
        %p
          = s_('Profiles|You must transfer ownership or delete these groups before you can delete your account.')
      - else
        %p
          = s_("Profiles|You don't have access to delete this user.")
.append-bottom-default
