.row
  .col-sm-12
    = form_for @project_member, as: :project_member, url: project_project_members_path(@project), html: { class: 'users-project-form' } do |f|
      .form-group
        = label_tag :user_ids, "选择要邀请的成员", class: "label-bold"
        = users_select_tag(:user_ids, multiple: true, class: "input-clamp qa-member-select-input", scope: :all, email_user: true, placeholder: "搜索要更新或邀请的成员")
      .form-group
        = label_tag :access_level, "选择角色权限", class: "label-bold"
        .select-wrapper
          = select_tag :access_level, options_for_select(ProjectMember.access_level_roles, @project_member.access_level), class: "form-control project-access-select select-control"
          = icon('chevron-down')
        .form-text.text-muted.append-bottom-10
          = link_to "点击这里", help_page_path("user/permissions"), class: "vlink"
          了解更多关于角色权限的介绍。
      .form-group
        .clearable-input
          = label_tag :expires_at, '访问到期日期', class: 'label-bold'
          = text_field_tag :expires_at, nil, class: 'form-control js-access-expiration-date', placeholder: '到期日期'
          %i.clear-icon.js-clear-input
      = f.submit "添加到项目", class: "btn btn-success qa-add-member-button"
      = link_to "导入", import_project_project_members_path(@project), class: "btn btn-default", title: "从其它项目导入成员"
